* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
/* background:url(./img/bg.jpg) no-repeat top center; */
line-height:1.15;
}
  header {
    height: 1.25rem;
    background: url(../img/head_bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  header h1 {
    font-size: 0.475rem;
    color: #21b3b9;
    text-align: center;
    line-height: 1rem;
  }
  header h2 {
    font-size: 0.45rem;
    color: #21b3b9;
    text-align: center;
    line-height: 0.8rem;
  }
  header h3 {
    font-size: 0.24rem;
    color: #21b3b9;
    text-align: center;
    line-height:0.24rem;
  }
  header .showTime {
    position: absolute;
    right: .375rem;
    top: 0;
    line-height: .9375rem;
    color: rgba(26, 15, 15, 0.7);
    font-size:  0.25rem;
  }

  #sendData{
    width: 12rem;
    height: 2rem;
    margin: 1rem auto 0.4rem auto;
    /* border: 1px solid #000000; */
    

  }
  input{
    background: none;
    outline: none;
    border: none;
  }
  #fileInput{
    width: 8rem;
    height: 1.5rem;
    line-height:1.5rem;
    border: 1px solid #000000;
    display:inline-block;
    text-align: center;
    font-size: 0.4rem;
    border-radius: 0.2rem;
  }
  #myButton{
    width: 3rem;
    height: 1.5rem;
    /* border: 1px solid #000000; */
    display:block;
    position: relative;
    font-size: 0.4rem;
    right: -9rem;
    top: -1.5rem;
    background: #21b3b9;
    color: #fff;
    border-radius: 0.2rem;

    
  }
  #introduce{
    width: 12rem;
    height: 2rem;
    border: 1px solid #000000;
    margin: 0 auto;
    border-radius: 0.2rem;

  }
  #introduce p{
    font-size: 0.3rem;
    width: 8rem;
    display: block;
    margin: 0.3rem ;
  }
  table {
    width: 12rem;
    margin: 0.4rem auto 0 auto;
    border: 1px solid #000000;
    border-collapse: collapse;

  }
  table td {
    border: 1px solid #000000;
    font: 0.3rem arial, microsoft yahei, snans-serif;
    padding: 6px;
    text-align: center;
  }


#buttom{
  width: 12rem;
  height: 0.6rem;
  /* border: 1px solid #000000; */
  margin:0.4rem auto 0 auto;
  text-align: center;

}